# Folders with object and executable files
bin
obj
ConsoleIOLibrary/x64
ConsoleIOLibrary/ConsoleIOLibrary/x64
# Linux executable
a.out
# Dependments file
first_app.depend
# Layout file
first_app.layout
# <name>.h.gch
*.h.gch
# Visual studio temporary files
.vs
ConsoleIOLibrary/.vs
